.project-carousel {
    height: 500px;
    margin-bottom: 50px;
    border-radius: 10px 10px 10px 10px;
}

.project-carousel div {
    padding-top: 0 !important;
    height: inherit !important;
}

.project-carousel img {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    object-fit: contain !important;
    object-position: 50% 50%;
}